<pro-header [title]="'查询表格'"></pro-header>
<nz-card [nzBordered]="false">

    <nz-card [nzBordered]="false">
        <nz-sf layout="inline"
            [schema]="listQueryShema"
            [model]="listQueryModel"
            [actions]="actions">
        </nz-sf>
    </nz-card>

    <div class="mb-md">
        <button nz-button (click)="add()" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
    </div>
   
    <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="q.limit" [nzShowTotal]="nzTotal" [nzLoading]="loading"
                (nzPageIndexChange)="pageChange($event)">
        <thead nz-thead>
            <tr>
                <th nz-th><span>序号</span></th>
                <th nz-th><span>用户名</span></th>
                <th nz-th><span>所属部门</span></th>
                <th nz-th><span>角色</span></th>
                <th nz-th><span>创建时间</span></th>
                <th nz-th><span>状态</span></th>
                <th nz-th><span>操作</span></th>
            </tr>
        </thead>
        <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let i of nzTable.data">
                <td nz-td>{{i.userId}}</td>
                <td nz-td>{{i.username}}</td>
                <td nz-td>{{i.deptName}}</td>
                <td nz-td>{{i.roleList[0].roleDesc}}</td>
                <td nz-td>{{i.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td nz-td>{{i.delFlag | userstatuspipe}}</td>
                
                <td nz-td>
                    <a (click)="msg.success('编辑' + i.userId)">配置</a>
                    <span nz-table-divider></span>
                    <a (click)="msg.success('删除' + i.userId)">订阅警报</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>


<nz-modal [nzVisible]="modalVisible" [nzTitle]="'新建规则'" [nzConfirmLoading]="loading" [nzContent]="modalContent"
    (nzOnCancel)="modalVisible=false" (nzOnOk)="save()">
    <ng-template #modalContent>
        <div nz-form-item class="d-flex">
            <div nz-form-label><label for="no">描述</label></div>
            <div nz-form-control class="flex-1">
                <nz-input [(ngModel)]="description" name="description" [nzSize]="'large'" [nzPlaceHolder]="'请输入'" nzId="no"></nz-input>
            </div>
        </div>
    </ng-template>
</nz-modal>
